a {
    text-decoration: none;
    color: white;
}

html,
body {
    width: 100%;
    margin: 0;
    padding-top: 3rem;
}

main {
    display: flex;
    justify-content: center;
}


footer {
    margin-bottom: 30rem;
}

@media (max-width: 768px) {}

@media (max-width: 425px) {}