@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.in_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
}

.titulo {
  width: 100%;
  margin-bottom: 2rem;
  border-bottom: solid 1px rgb(163, 163, 163);
}
.titulo h1 {
  margin-left: 0.5rem;
}

.portada {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: auto;
  gap: 1rem;
  margin-bottom: 1rem;
}
.portada .nota_principal {
  width: 75%;
  height: 100%;
}
.portada .nota_principal a div {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: end;
}
.portada .nota_principal a div img {
  display: flex;
  width: 100%;
  aspect-ratio: 1.4584/1;
  object-fit: cover;
}
.portada .nota_principal a div div div {
  width: 100%;
  height: min-content;
  padding: 2rem;
}
.portada .nota_principal a div div div h1 {
  position: relative;
  color: black;
  line-height: 3rem;
  font-weight: 700;
  margin: 0;
  background-color: white;
  padding: 1rem;
  z-index: 1;
}
.portada .nota_principal a div div div span {
  background-color: #289137;
  padding: 0.25rem 0.5rem;
  font-weight: 700;
  color: white;
}
.portada .notas_secundarias {
  display: flex;
  width: 25%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.portada .notas_secundarias a {
  display: flex;
  height: calc(50% - 0.5rem);
}
.portada .notas_secundarias a .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 0.4rem 0 0rem 0rem;
  border-color: rgba(0, 0, 0, 0.25);
}
.portada .notas_secundarias a .card img {
  width: 100%;
  aspect-ratio: 10/6;
  object-fit: cover;
}
.portada .notas_secundarias a .card div {
  flex-direction: column;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
}
.portada .notas_secundarias a .card div h5 {
  margin-bottom: 0.5rem;
  color: #289137;
}
.portada .notas_secundarias a .card div p {
  line-height: 1.25rem;
}

#tres_notas_y_publi {
  display: flex;
  width: 100%;
  height: auto;
  gap: 1rem;
  margin-bottom: 1rem;
  flex-direction: row;
  justify-content: space-between;
}
#tres_notas_y_publi .dos_notas {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  gap: 1rem;
}
#tres_notas_y_publi .dos_notas a {
  display: flex;
  height: calc(50% - 0.5rem);
}
#tres_notas_y_publi .dos_notas a .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 0.4rem 0 0rem 0rem;
  border-color: rgba(0, 0, 0, 0.25);
}
#tres_notas_y_publi .dos_notas a .card img {
  width: 100%;
  aspect-ratio: 10/6;
  object-fit: cover;
}
#tres_notas_y_publi .dos_notas a .card div {
  flex-direction: column;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
}
#tres_notas_y_publi .dos_notas a .card div h5 {
  margin-bottom: 0.5rem;
  color: #289137;
}
#tres_notas_y_publi .dos_notas a .card div p {
  line-height: 1.25rem;
}
#tres_notas_y_publi .nota_fuerte {
  width: calc(50% - 1rem);
  height: 100%;
}
#tres_notas_y_publi .nota_fuerte a {
  display: flex;
  height: 100%;
}
#tres_notas_y_publi .nota_fuerte a .card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 0.4rem 0 0rem 0rem;
  border-color: rgba(0, 0, 0, 0.25);
}
#tres_notas_y_publi .nota_fuerte a .card img {
  height: 60%;
  aspect-ratio: 5/4;
  object-fit: cover;
}
#tres_notas_y_publi .nota_fuerte a .card div {
  flex-direction: column;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
}
#tres_notas_y_publi .nota_fuerte a .card div h2 {
  margin-bottom: 0.5rem;
  color: #289137;
  font-weight: 700;
  font-size: 4rem;
}
#tres_notas_y_publi .nota_fuerte a .card div p {
  font-weight: 400;
  font-size: 2rem;
}
#tres_notas_y_publi .publi {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 100%;
  border-radius: 0.4rem;
  background-color: rgb(146, 146, 146);
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}
#tres_notas_y_publi .publi a img {
  width: 100%;
  object-fit: cover;
}

#tres_notas {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  gap: 1rem;
  margin-bottom: 1rem;
}
#tres_notas a {
  display: flex;
  height: 100%;
  width: 100%;
}
#tres_notas a .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 0.4rem 0 0rem 0rem;
  border-color: rgba(0, 0, 0, 0.25);
}
#tres_notas a .card img {
  aspect-ratio: 1.2096/1;
  object-fit: cover;
}
#tres_notas a .card div {
  flex-direction: column;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
}
#tres_notas a .card div h5 {
  margin-bottom: 0.5rem;
  color: #289137;
}
#tres_notas a .card div p {
  line-height: 1.25rem;
}

#tres_publi {
  display: flex;
  width: 100%;
  gap: 1rem;
  margin-bottom: 1rem;
}
#tres_publi img {
  width: 100%;
  aspect-ratio: 1.18293/1;
  border-radius: 0.4rem;
}

#dos_notas {
  display: flex;
  height: auto;
  width: 100%;
  gap: 1rem;
  margin-bottom: 1rem;
}
#dos_notas .nota_fuerte {
  width: calc(50% - 0.5rem);
  height: 100%;
}
#dos_notas .nota_fuerte a {
  display: flex;
  height: 100%;
}
#dos_notas .nota_fuerte a .card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 0.4rem 0 0rem 0rem;
  border-color: rgba(0, 0, 0, 0.25);
}
#dos_notas .nota_fuerte a .card img {
  aspect-ratio: 1.219175/1;
  object-fit: cover;
}
#dos_notas .nota_fuerte a .card div {
  flex-direction: column;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
}
#dos_notas .nota_fuerte a .card div h2 {
  margin-bottom: 0.5rem;
  color: #289137;
  font-weight: 700;
  font-size: 4rem;
}
#dos_notas .nota_fuerte a .card div p {
  font-weight: 400;
  font-size: 2rem;
}

#cuatro_notas {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  gap: 1rem;
  margin-bottom: 2rem;
}
#cuatro_notas a {
  display: flex;
  width: 100%;
  height: 100%;
}
#cuatro_notas a .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 0.4rem 0 0rem 0rem;
  border-color: rgba(0, 0, 0, 0.25);
}
#cuatro_notas a .card img {
  width: 100%;
  aspect-ratio: 1.21687/1;
  object-fit: cover;
}
#cuatro_notas a .card div {
  flex-direction: column;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
}
#cuatro_notas a .card div h5 {
  margin-bottom: 0.5rem;
  color: #289137;
}
#cuatro_notas a .card div p {
  line-height: 1.25rem;
}

#segmento {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: auto;
  margin-bottom: 4rem;
  border-bottom: solid 1px rgb(175, 175, 175);
}
#segmento .seccion {
  display: flex;
}
#segmento .seccion svg {
  height: 2.5rem;
  margin-right: 1rem;
}
#segmento .seccion p {
  font-size: 2.5rem;
  padding-left: calc(1.5rem - 4px);
  line-height: 2.5rem;
  font-weight: 500;
  border-left: solid 4px #289137;
  margin-bottom: 0;
}
#segmento .principal {
  height: 100%;
}
#segmento .principal .nota_fuerte {
  height: 100%;
}
#segmento .principal .nota_fuerte a .card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: 100%;
}
#segmento .principal .nota_fuerte a .card img {
  width: 50%;
  aspect-ratio: 1.089/1;
  object-fit: cover;
}
#segmento .principal .nota_fuerte a .card div {
  width: 50%;
}
#segmento .principal .nota_fuerte a .card div h3 {
  font-weight: 600;
  font-size: 4rem;
}
#segmento .principal .nota_fuerte a .card div h3 span {
  background-color: #5dcb6c;
  font-weight: 800;
  padding: 0.5rem;
}
#segmento .principal .nota_fuerte a .card div p {
  font-size: 2rem;
}
#segmento #cuatro_notas {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(400px - 0.5rem);
  gap: 1rem;
}
#segmento #cuatro_notas a {
  display: flex;
  height: 100%;
}
#segmento #cuatro_notas a .card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: transparent;
}
#segmento #cuatro_notas a .card img {
  height: 100%;
  aspect-ratio: 1.217/1;
  object-fit: cover;
}
#segmento #cuatro_notas a .card div {
  flex-direction: column;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
}
#segmento #cuatro_notas a .card div h5 {
  margin-bottom: 0.5rem;
  color: #289137;
}
#segmento #cuatro_notas a .card div p {
  line-height: 1.25rem;
}

.nt_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin-top: 0.5rem;
}
.nt_container .nota_fuerte {
  width: 100%;
}
.nt_container .nota_fuerte .card {
  width: 100%;
}
.nt_container .nota_fuerte .card div {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
.nt_container .nota_fuerte .card .img-principal {
  margin: 2rem 5%;
  width: 90%;
  object-fit: cover;
  aspect-ratio: 16/10;
}
.nt_container .nota_fuerte .card img {
  margin: 1rem 25%;
  width: 50%;
  object-fit: cover;
  aspect-ratio: 4/3;
}
.nt_container .nota_fuerte .card p {
  font-size: 1.5rem;
}
.nt_container .nota_fuerte .card .yt {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nt_container .nota_fuerte .card .yt iframe {
  width: 70%;
  aspect-ratio: 560/315;
}

#seg_notas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 1rem;
  margin-bottom: 1rem;
}
#seg_notas .nota_fuerte {
  width: 100%;
  height: 100%;
}
#seg_notas .nota_fuerte a {
  display: flex;
  height: 100%;
}
#seg_notas .nota_fuerte a .card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 0.4rem 0 0rem 0rem;
  border-color: rgba(0, 0, 0, 0.25);
}
#seg_notas .nota_fuerte a .card img {
  width: 100%;
  aspect-ratio: 1.266/1;
  object-fit: cover;
}
#seg_notas .nota_fuerte a .card .card-body {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
}
#seg_notas .nota_fuerte a .card .card-body h5 {
  margin-bottom: 0.5rem;
  color: #289137;
  font-weight: 700;
  font-size: 3.5rem;
}
#seg_notas .nota_fuerte a .card .card-body p {
  font-weight: 400;
  font-size: 1.5rem;
}

#una_publi {
  display: flex;
  width: 100%;
  gap: 1rem;
  margin-bottom: 1rem;
}
#una_publi .publicidad a img {
  width: 100%;
  object-fit: cover;
  border-radius: 0.4rem;
}

@media (max-width: 768px) {
  .in_container {
    width: 95%;
  }
  .portada {
    flex-direction: column;
  }
  .portada .nota_principal {
    width: 100%;
  }
  .portada .nota_principal a div div div h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1rem;
  }
  .portada .nota_principal a div div div h1 span {
    font-size: 1rem;
    line-height: 0.1rem;
  }
  .portada .notas_secundarias {
    width: 100%;
    flex-direction: row;
  }
  .portada .notas_secundarias a {
    width: 100%;
    height: 100%;
  }
  #dos_notas {
    display: flex;
    height: auto;
    width: 100%;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  #dos_notas .nota_fuerte {
    width: calc(50% - 0.5rem);
    height: 100%;
  }
  #dos_notas .nota_fuerte a {
    display: flex;
    height: 100%;
  }
  #dos_notas .nota_fuerte a .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-radius: 0.4rem 0 0rem 0rem;
    border-color: rgba(0, 0, 0, 0.25);
  }
  #dos_notas .nota_fuerte a .card img {
    aspect-ratio: 1.219175/1;
    object-fit: cover;
  }
  #dos_notas .nota_fuerte a .card div {
    flex-direction: column;
    padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  }
  #dos_notas .nota_fuerte a .card div h2 {
    margin-bottom: 0.5rem;
    color: #289137;
    font-weight: 700;
    font-size: 2.5rem;
  }
  #dos_notas .nota_fuerte a .card div p {
    font-weight: 400;
    font-size: 1.25rem;
  }
  #segmento {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: auto;
    margin-bottom: 4rem;
    border-bottom: solid 1px rgb(175, 175, 175);
  }
  #segmento .seccion {
    display: flex;
  }
  #segmento .seccion svg {
    height: 2.5rem;
    margin-right: 1rem;
  }
  #segmento .seccion p {
    font-size: 2.5rem;
    padding-left: calc(1.5rem - 4px);
    line-height: 2.5rem;
    font-weight: 500;
    border-left: solid 4px #289137;
    margin-bottom: 0;
  }
  #segmento .principal {
    height: auto;
  }
  #segmento .principal .nota_fuerte a .card {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 100%;
  }
  #segmento .principal .nota_fuerte a .card img {
    width: 50%;
    aspect-ratio: 2/1;
    object-fit: cover;
  }
  #segmento .principal .nota_fuerte a .card div {
    width: 50%;
  }
  #segmento .principal .nota_fuerte a .card div h3 {
    font-weight: 600;
    font-size: 2rem;
  }
  #segmento .principal .nota_fuerte a .card div h3 span {
    background-color: #5dcb6c;
    font-weight: 800;
    padding: 0.5rem;
  }
  #segmento .principal .nota_fuerte a .card div p {
    font-size: 1rem;
  }
  #segmento #cuatro_notas {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 1rem;
  }
  #segmento #cuatro_notas a {
    display: flex;
    height: 100%;
  }
  #segmento #cuatro_notas a .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: transparent;
  }
  #segmento #cuatro_notas a .card img {
    height: 100%;
    aspect-ratio: 1.217/1;
    object-fit: cover;
  }
  #segmento #cuatro_notas a .card div {
    flex-direction: column;
    padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  }
  #segmento #cuatro_notas a .card div h5 {
    margin-bottom: 0.5rem;
    color: #289137;
    font-size: 1.25rem;
  }
  #segmento #cuatro_notas a .card div p {
    line-height: 1.25rem;
    font-size: 0.8rem;
  }
  #seg_notas .nota_fuerte a .card .card-body h5 {
    font-size: 2.5rem;
  }
  #seg_notas .nota_fuerte a .card .card-body p {
    font-size: 1.25rem;
  }
}
@media (max-width: 425px) {
  .in_container {
    width: 100%;
  }
  .portada {
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .portada div {
    border-radius: 0;
  }
  .portada a div img {
    border-radius: 0;
  }
  .portada .nota_principal a div div div {
    padding: 0.5rem;
  }
  .portada .nota_principal a div div div h1 {
    padding: 0 0.5rem;
    line-height: 1.75rem;
    font-weight: 600;
  }
  .portada .nota_principal a div div div h1 span {
    font-weight: 700;
  }
  .portada .notas_secundarias {
    gap: 0.5rem;
  }
  #tres_notas_y_publi {
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
  #tres_notas_y_publi img {
    border-radius: 0;
  }
  #tres_notas_y_publi .dos_notas {
    gap: 0.5rem;
  }
  #tres_notas_y_publi .nota_fuerte a .card div h2 {
    font-size: 2rem;
  }
  #tres_notas_y_publi .nota_fuerte a .card div p {
    font-size: 1.25rem;
  }
  #tres_notas_y_publi .publi {
    border-radius: 0;
    padding: 0.5rem;
  }
  #tres_notas {
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
  #tres_notas img {
    border-radius: 0;
  }
  #tres_publi {
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
  #tres_publi img {
    border-radius: 0;
  }
  #dos_notas {
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
  #dos_notas .nota_fuerte {
    width: calc(50% - 0.25rem);
  }
  #dos_notas .nota_fuerte img {
    border-radius: 0;
  }
  #seg_notas .nota_fuerte a .card .card-body h5 {
    font-size: 2rem;
  }
  #seg_notas .nota_fuerte a .card .card-body p {
    font-size: 1rem;
  }
  #cuatro_notas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
  #cuatro_notas a .card img {
    border-radius: 0;
  }
  #segmento {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  #segmento .seccion {
    display: flex;
    margin-bottom: 0.5rem;
  }
  #segmento .seccion svg {
    height: 1.5rem;
    margin-right: 0.75rem;
  }
  #segmento .seccion p {
    font-size: 1.5rem;
    padding-left: calc(0.75rem - 2px);
    line-height: 1.5rem;
    font-weight: 500;
    border-left: solid 2px #289137;
    margin-bottom: 0;
  }
  #segmento .principal {
    height: auto;
  }
  #segmento .principal .nota_fuerte a .card {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    height: 100%;
  }
  #segmento .principal .nota_fuerte a .card img {
    width: calc(50% - 0.25rem);
    aspect-ratio: 2/1;
    object-fit: cover;
    border-radius: 0;
  }
  #segmento .principal .nota_fuerte a .card div {
    width: calc(50% - 0.25rem);
    padding: 0.25rem;
  }
  #segmento .principal .nota_fuerte a .card div h3 {
    font-weight: 600;
    font-size: 1rem;
  }
  #segmento .principal .nota_fuerte a .card div h3 span {
    background-color: #5dcb6c;
    font-weight: 800;
    padding: 0.25rem;
  }
  #segmento .principal .nota_fuerte a .card div p {
    font-size: 0.75rem;
  }
  #segmento #cuatro_notas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: auto;
    gap: 0.5rem;
  }
  #segmento #cuatro_notas a {
    display: flex;
    height: 100%;
  }
  #segmento #cuatro_notas a .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: transparent;
  }
  #segmento #cuatro_notas a .card img {
    height: 100%;
    aspect-ratio: 1.217/1;
    object-fit: cover;
  }
  #segmento #cuatro_notas a .card div {
    flex-direction: column;
    padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  }
  #segmento #cuatro_notas a .card div h5 {
    margin-bottom: 0.5rem;
    color: #289137;
    font-size: 1.25rem;
  }
  #segmento #cuatro_notas a .card div p {
    line-height: 1.25rem;
    font-size: 0.8rem;
  }
}
a {
  text-decoration: none;
  color: white;
}

html,
body {
  width: 100%;
  margin: 0;
  padding-top: 3rem;
}

main {
  display: flex;
  justify-content: center;
}

footer {
  margin-bottom: 30rem;
}

@media (max-width: 624px) {
  #botones #sueltos {
    display: none;
  }
  #botones .container {
    display: block;
  }
}
@media (min-width: 625px) {
  #botones .container {
    display: none;
  }
}
@media (max-width: 846px) {
  #redes {
    display: none;
  }
}
@media (max-width: 1024px) {
  header div a svg {
    height: 32px;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.75);
  padding: 0 1rem;
}
header ul li .nav-link {
  color: black;
  transition: color 0.3s;
}
header ul li .nav-link:hover {
  color: #289137;
  background-color: transparent;
  transition: color 0.3s;
}
header ul li .nav-link:focus {
  color: #289137;
  background-color: transparent;
  transition: color 0.3s;
}
header ul li .nav-link.activo {
  color: white;
  background-color: #289137;
}
header ul li ul li .dropdown-item:active {
  color: white;
  background-color: #289137;
}

/*# sourceMappingURL=style.css.map */
